.container
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

#swiper
 padding: -20px

.containerAreaFilmes
  width: 100%
  padding: 20px 100px
  height: auto      
  
#slideFilme
  padding: 10px
  #img
    border-radius: 8px
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
    


.linhaDecorativa
  width: 96%
  background-color: #3C3C3B
  height: 2px
  margin: 50px 0 
   

