.container
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.containerAreaFilmes
  width: 100%
  padding: 20px 100px
  height: auto
  #btnProdAnterior
    color: #022ef0cc
    padding: 10px 20px
    border-radius: 5px
    margin-left: -10px
    transition: 0.5s
    &:hover
      background-color: #345fd65b
      
  #btnProdProx
    color: #022ef0cc
    padding: 10px 20px
    border-radius: 5px
    margin-right: -15px
    transition: 0.5s
    &:hover
      background-color: #345fd65b
      
  
#slideFilme
  padding: 10px
  #img
    border-radius: 8px
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
    padding: 10px
    width: 200px
    height: 190px


.linhaDecorativa
  width: 96%
  background-color: #3C3C3B
  height: 2px
  margin: 50px 0 
   

