.container
  width: 100%
  height: auto
  display: flex
  justify-content: center
  align-items: center

.containerAreaFilmes
  width: 75%
  height: auto
  
  
#slideFilme
  padding: 10px
  #img
    border-radius: 8px
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
    padding: 10px
    width: 150px
    height: 150px

